body {
	font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

label {
	display: block;
	margin: 0 auto;
	max-width: 14em;
	text-align: center;
	font-size: 2.5em;
	font-weight: 800;
	cursor:pointer;
}

input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

input[type=checkbox] + label:after {
	display: block;
	content:'no';
	text-transform: uppercase;
	color:red;
	font-size: 4em;
}

input[type=checkbox]:checked + label:after {
	display: block;
	content:'yes';
	text-transform: uppercase;
	color:red;
	font-size: 4em;
}